<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Url Exists</h1>
    <p>{{ obj.url }}</p>
    <p>{{obj.}}</p>
    <a target="_blank" href="{{obj.get_shortened_url}}">{{ obj.get_shortened_url }}</a>
    <p>Clicks: <b>{{ obj.get_total_clicks }}</b></p>
    <a href="{% url 'home' %}">New</a>
</body>
</html>