@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Josefin+Sans:wght@300;400;500;600;700&family=Prompt:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: rgb(160, 70, 243);
    --main-color-dark: blueviolet;
}

body {
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}


header {
    margin: 0;
    background-color: var(--main-color);
    overflow: hidden;
}

.navbar-expand-lg {
    padding: 15px 0;
}

.navbar-brand,
.nav-item .nav-link {
    color: white !important;
}

.navbar-nav .dropdown-menu {
    background-color: #a046f3;
    transition: all 0.5s;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu a {
    color: white !important
}

.dropdown-menu a:hover {
    background-color: blueviolet;
}

.auth-btns {
    margin: 0 0 0 0.5rem;
}

.log-in {
    transition: 0.3s linear;
}

.log-in:hover {
    background-color: white;
    color: black !important;
}

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.main-header h1 {
    font-size: 1.2rem !important;
}

.main-header h2 {
    font-size: 2.9rem !important;
    font-weight: 700;
}


.main-header h3 {
    font-size: 1.2rem !important;
    font-weight: 300;
}

.phone {
    height: 450px;
    width: 280px;
}


input:focus {
    outline: none !important;
}

.url-input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 2px solid #dee2e6;
}

.shorten-btn {
    background-color: var(--main-color);
    color: white;
}

.shorten-btn:hover, .shorten-btn:focus-visible, .shorten-btn:active {
    background-color: blueviolet !important;
    color: white !important;
}


.features {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-title {
    text-align: center;
}

.section-title h6 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-title h2 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 1rem;
}

.section-title p {
    width: 80%;
    margin: auto;
}


.icon-box {
    text-align: center;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
  }


.icon-box .icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #ac9ef2;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }


.icon-box .icon i {
    color: #fff;
    font-size: 28px;
}

.icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}

.icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .icon-box h4 a {
    color: #fff;
  }


  .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }


  .icon-box:hover {
    background: var(--main-color);
    border-color: var(--main-color);
  }


  .icon-box:hover .icon {
    background: #fff;
  }

  .icon-box:hover .icon i {
    color: #ac9ef2;
  }

  .icon-box:hover .icon::before {
    background: #ac9ef2;
  }

  .icon-box:hover h4, .icon-box:hover p {
    color: #fff !important;
  }


@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1024px;
    }

}


@media screen and (max-width: 991px) {
    .navbar-nav .log-in, .navbar-nav .sign-up {
        padding: 0 10px;
    }

    .auth-btns {
        margin: 0.5rem 0 0 0;
    }

    .navbar-collapse {
        margin-top: 1rem;
    }
    
    .dropdown-menu {
        margin-bottom: 1rem;
    }

}


@media screen and (max-width: 767px) {
    
    .main-header {
        margin-top: 2.2rem !important;
    }


    .section-title h6 {
        font-size: 0.8rem;
    }
    
    .section-title h2 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 1rem;
    }
    
    .section-title p {
        width: 100%;
        font-size: 14px;
    }

}


@media screen  and (max-width:480px) {
    .main-header h1 {
        font-size: 1rem !important;
    }
    
    .main-header h2 {
        font-size: 3.2rem !important;
        font-weight: 700;
    }
    
    
    .main-header h3 {
        font-size: 1.02rem !important;
    }

    .phone {
        display: none;
    }

    .shotener-div {
        margin-top: 24px !important;
    }

    .shorten-btn span {
        display: none;
    }

    .shorten-btn::after {
        content: 'Shorten';
    }
}


@media screen  and (max-width:360px) {
    .main-header h2 {
        font-size: 2.8rem !important;
        font-weight: 700;
    }
}