@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Josefin+Sans:wght@300;400;500;600;700&family=Prompt:wght@300;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}


header {
    margin: 0;
    background-color: rgb(160, 70, 243);
    overflow: hidden;
}

.navbar-brand,
.nav-item .nav-link {
    color: white !important;
}

.navbar-nav .dropdown-menu {
    background-color: #a046f3;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu a {
    color: white !important
}

.dropdown-menu a:hover {
    background-color: blueviolet;
}

.auth-btns {
    margin: 0 0 0 0.5rem;
}

.log-in {
    transition: 0.3s linear;
}

.log-in:hover {
    background-color: white;
    color: black !important;
}

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.main-header h1 {
    font-size: 1.2rem !important;
}

.main-header h2 {
    font-size: 2.6rem !important;
    font-weight: 700;
}


.main-header h3 {
    font-size: 1.2rem !important;
    font-weight: 300;
}

.phone {
    height: 450px;
    width: 280px;
}


input:focus {
    outline: none !important;
}

.url-input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 2px solid #dee2e6;
}

.shorten-btn {
    background-color: #a046f3;
    color: white;
}

@media screen and (max-width: 991px) {
    .navbar-nav .log-in, .navbar-nav .sign-up {
        padding: 0 10px;
    }

    .auth-btns {
        margin: 0.5rem 0 0 0;
    }


}


@media screen and (max-width: 767px) {
    
    .main-header {
        margin-top: 2.2rem !important;
    }

}


@media screen  and (max-width:480px) {
    .main-header h1 {
        font-size: 1rem !important;
    }
    
    .main-header h2 {
        font-size: 3.2rem !important;
        font-weight: 700;
    }
    
    
    .main-header h3 {
        font-size: 1.02rem !important;
    }

    .phone {
        display: none;
    }

    .shotener-div {
        margin-top: 24px !important;
    }

    .shorten-btn span {
        display: none;
    }

    .shorten-btn::after {
        content: 'Shorten';
    }
}


@media screen  and (max-width:360px) {
    .main-header h2 {
        font-size: 2.8rem !important;
        font-weight: 700;
    }
}